@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    background: rgba(64, 64, 102, .5);
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(0deg, rgba(223,102,98,0.49763655462184875) 0%, rgba(64,64,102,0.500437675070028) 100%); */
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

.test {
    background-color: #471D75ff;
    /* blue violet */
    background-color: #FFFFFFff;
    /* white */
    background-color: #702D58ff;
    /* byzantium */
    background-color: #DF6662ff;
    /* fuzzy wuzzy */
    background-color: #FCF7C1ff;
    /* blond */
    background-color: #fffcdd;
    /* white-blond */
}

.navbar {
    /* overflow: hidden; */
    background-color: #DF6662ff;
    border: #471D75ff;
    border-width: 5px;
    position: absolute;
    /* display: inline-block; */
    /* align-items: center; */
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    text-align: center;
    display: inline-block;
    z-index: 100;
}

.logo img {
    position: absolute;
    top: 4px;
    left: 0px;
    z-index: 3000000;
    height: 51px;
    width: auto;
    left: 15px;
}

/* Links inside the navbar */
.navbar a {
    /* float: center; */
    display: inline-block;
    /* position: absolute; */
    /* left: 300px; */
    color: #FFFFFFff;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: rgb(222, 136, 133);
    color: rgb(255, 255, 255);
}

.main {
    position: relative;
    margin-top: 80px;
}

.row {
    align-content: center;
    position: relative;
    left: 70px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 0px;
}

.webBox {
    width: 350px;
    /* display: flex; */
    /* flex: 1; */
    /* margin-right: 15px;
    margin-left: 15px; */
    height: 200px;
    border-radius: 5px;
    border: 1px solid black;
}

.webBoximg {
    width: 350px;
    /* display: flex; */
    /* flex: 1; */
    /* margin-right: 15px;
    margin-left: 15px; */
    background-color: white;
    z-index: -2;
    height: 200px;
    border-radius: 5px;
    border: 1px solid black;
}

.webBox:nth-child(odd) {
    margin-right: 15px;
}

.webBox:nth-child(even) {
    margin-left: 15px;
}
.webBoximg:nth-child(odd) {
    margin-right: 15px;
}

.webBoximg:nth-child(even) {
    margin-left: 15px;
}

.directions {
    /* display: flex; */
    border-radius: 2px;
    background-color: #fffcdd;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fileSub {
    border-radius: 4px;
    background-color: #fffcdd;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* z-index: ; */
}

/* audio play button style */
#audio {
    position: relative;
    left: 25px;
}

audio::-webkit-media-controls-panel {
    background-color: #fffcdd;
}

audio:focus {
    outline: none;
}

#playSound {
    position: relative;
    top: 70px;
    left: -50px;
    height: 25px;
    width: 150px;
    font-weight: bold;
    background-color: rgb(221, 163, 161);
    color: black;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    /* position: relative;
    left: 25px; */
    cursor: pointer;
}


.oldImg {
    /* float: left; */
    /* display: flex;
    flex-wrap: wrap; */
    background-color: white;
    position: relative;
    z-index: -1;
}

.newImg {
    /* display: flex;
    flex-wrap: wrap; */
    position: relative;

    z-index: -1;
}

img {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

input {
    margin-top: 1rem;
    position: relative;
    left: 100px;
    width: 250px;
    height: 35px;
}

input[type=file]::file-selector-button {
    font-weight: bold;
    background-color: rgb(221, 163, 161);
    color: black;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    cursor: pointer;
}

input[type=submit] {
    font-weight: bold;
    background-color: rgb(221, 163, 161);
    color: black;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    height: 50px;
    width: 150px;
    top: -20px;
    cursor: pointer;
}

#demo1 {
    margin: 8px auto;
}

/* loader style */
.loader-wrapper {
    width: 100%;
    height: 140%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #702D58ff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    /* display: none; */
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    z-index: 99;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}