<html lang="en">

<head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    i = 0
    $(document).keydown(function(e){
        $("span").text(e.keyCode);
        myfunction(e.keyCode);
    });
    $(document).on('keyup', function() {
        $("span").text("no");
    })
</script>

    <input type="file" id="upload" />
    <audio id="audio" controls>
      <source src="" id="src" />
    </audio>

<script>
    function handleFiles(event) {
    var files = event.target.files;
    $("#src").attr("src", URL.createObjectURL(files[0]));
    document.getElementById("audio").load();
    }

    document.getElementById("upload").addEventListener("change", handleFiles, false);
</script>

<p><span>0</span></p>

<script>
    function myfunction(x) {

        const firstname = x;
        const dict_values = {firstname} //Pass the javascript variables to a dictionary.
        const s = JSON.stringify(dict_values); // Stringify converts a JavaScript object or value to a JSON string
        $.ajax({
            url:"/test",
            type:"POST",
            contentType: "application/json",
            data: JSON.stringify(s)});
}

</script>



</body>
</html>